<br>
<h2><%= @stock.name %> (<%= @stock.ticker %>)</h2>
<br>
<h4>Current Price: <%= number_to_currency(@stock.initial_value)  %></h4>
<h4>Shares Left: <%=@stock.current_quantity  %></h4>

<br>
<h4>Investors Who Have This Stock: </h4>

<ul>
<% @stock.users.uniq.each do |user| %>
  <li><%= link_to user.username, user %></li>
<% end %>
</ul>



  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <p style="color:red"><%=error %></p>
      <% end %>
  <% end %>

<% if @current_user != nil%>
<%= form_for @stock_pick do |f| %>
    <%= f.hidden_field :stock_id, value: @stock.id %><br>

    <%= f.hidden_field :user_id, value: @current_user.id %><br>

    <%= f.label 'Amount of Shares' %><br>
    <%= f.number_field :quantity, min:1, step: 0 %><br>


    <%= f.hidden_field :value, value: @stock.initial_value %><br>

    <%= f.submit "Buy Stock" ,:class => "btn btn-outline-dark"%>
<% end %>
<% else %>
<h2>You must be logged in to buy stocks!</h2>
<% end %>
