<% rand_wealth = rand(500..5000000)%>
<h1>New User Signup</h1>
<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br>

<%= f.label :username %>
<%= f.text_field :username %> <br>

<%= f.label :email %>
<%= f.text_field :email %> <br>

<%= f.label :password %>
<%= f.password_field :password %> <br>

<%= f.hidden_field :wealth, value: rand_wealth %>

<%= f.label :about_me %>
<%= f.text_field :about_me %>

<%= f.hidden_field :photo_url, value: "https://robohash.org/DRS.png?set=set1&size=300x300" %>


<% if flash[:errors] %>
    <ul>
        <% flash[:errors].map do |error|%>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>

<%= f.submit %>
<% end %>