<h1><%= @user.username %>'s Profile Page</h1>
<h3>List of Stocks</h3>
<ul>
    <% @user.stocks.uniq.map do |stock| %>
    <li><%= link_to stock.name, stock %>
    <% @user.stock_picks.each do |stock| %>

    </li>
    <% end %>
    <% end %>
</ul>
<p>Total Worth: $<%= @user.total_worth %> </p>
<p>Best Stock: <%= @user.best_stock.name %> (<%= @user.best_stock.ticker %>)</p>
<ul>
    <li>
        Battles Won: <%= @user.battles_won.count %>
    </li>
    <li>
        Battles Lost: <%= @user.battles_lost.count %>
    </li>
</ul>

<% if @current_user == @user %>
    <%= button_to "Edit", edit_user_path, :method => :get %>
    <%= button_to "Delete", :method => :delete %>
<% else %>
<%= form_for @battle do |f| %>
    <%= f.hidden_field :player1_id, value: @current_user.id %><br>

    <%= f.hidden_field :player2_id, value: @user.id %><br>

    <%= f.submit "BATTLE ME" %>
<% end %>
<% end %>
