<h1><%= @user.username %>'s Profile Page</h1>

<h2>About Me</h2>
<p><%= @user.about_me %></p>

<h2>My Profile Photo</h2>
<img src="<%= @user.photo_url %>">

<h3>List of Stocks</h3>
<ul>
    <% @user.stocks.uniq.map do |stock| %>
    <li><%= link_to stock.name, stock %> at <%= @user.quantity_of_stocks[stock.name]%> shares </li>
    <% end %>
</ul>
<p>Total Worth: $<%= @user.total_worth %></p>
<% if @user.stocks != [] %>
    <p>Best Stock: <%= @user.best_stock.name %> (<%= @user.best_stock.ticker %>)</p>
<% else%>
    <p>You need to buy some stocks!</p>
<% end %>
<ul>
    <li>
        Battles Won: <%= @user.battles_won.count %>
    </li>
    <li>
        Battles Lost: <%= @user.battles_lost.count %>
    </li>
</ul>
<% @user.update_wealth%>

<% if @current_user != nil%>
    <% if @current_user == @user %>
    <h2>My Wallet: $<%= @user.wealth %></h2>

        <%= button_to "Edit", edit_user_path, :method => :get %>
        <%= button_to "Delete", @user, :method => :delete %>
    <% else %>
        <%= form_for @battle do |f| %>
        <%= f.hidden_field :player1_id, value: @current_user.id %><br>

        <%= f.hidden_field :player2_id, value: @user.id %><br>

        <%= f.submit "BATTLE ME" %>
        <% end %>
    <% end %>
<% else%>
<h1>You must be logged in to battle!</h1>
<% end %>
