<h1><%= @user.username %>'s Profile Page</h1>
<h2>Wallet: <%= @user.wealth %></h2>


<h3>List of Stocks</h3>
<ul>
    <% @user.stocks.uniq.map do |stock| %>
    <li><%= link_to stock.name, stock %>
    <% @user.stock_picks.each do |stock| %>

    </li>
    <% end %>
    <% end %>
</ul>
<p>Total Worth: $<%= @user.total_worth %> </p>
<% if @user.stocks != [] %>
    <p>Best Stock: <%= @user.best_stock.name %> (<%= @user.best_stock.ticker %>)</p>
<% else%>
    <p>You need to buy some stocks!</p>
<% end %>
<ul>
    <li>
        Battles Won: <%= @user.battles_won.count %>
    </li>
    <li>
        Battles Lost: <%= @user.battles_lost.count %>
    </li>
</ul>

<% if @current_user == @user %>
    <%= button_to "Edit", edit_user_path, :method => :get %>
    <%= button_to "Delete", :method => :delete %>
<% else %>

<% end %>
