<h1><%= @user.username %>'s Profile Page</h1>
<br>
<h3>About Me</h3>
<p><%= @user.about_me %></p>
<br>
<h3>My Profile Photo</h3>
<img src="<%= @user.photo_url %>">
<br> <br>
<h3>List of Stocks</h3>
<ul>
    <% @user.stocks.uniq.map do |stock| %>
    <li><%= link_to stock.name, stock %> at <%= @user.quantity_of_stocks[stock.name]%> shares </li>
    <% end %>
</ul>

<h5>Total Worth: <%= number_to_currency(@user.total_worth) %></h5> <br>
<% if @user.stocks != [] %>
    <h5>Best Stock: <%= @user.best_stock.name %> (<%= @user.best_stock.ticker %>)</h5> <br>
<% else%>
    <p>You need to buy some stocks!</p>
<% end %>
<h3>Battle Stats:</h3>
<ul>
    <li>
        Won: <%= @user.battles_won.count %>
    </li>
    <li>
        Lost: <%= @user.battles_lost.count %>
    </li>
</ul>
<% @user.update_wealth%>

<% if @current_user != nil%>
    <% if @current_user == @user %>
    <h3>My Wallet: <%= number_to_currency(@user.wealth) %></h3> <br>

        <%= button_to "Edit", edit_user_path, :method => :get, :class => "btn btn-outline-primary" %> <br>
        <%= button_to "Delete", @user, :method => :delete, :class => "btn btn-outline-primary" %>
    <% else %>
        <%= form_for @battle do |f| %>
        <%= f.hidden_field :player1_id, value: @current_user.id %><br>

        <%= f.hidden_field :player2_id, value: @user.id %><br>

        <%= f.submit "BATTLE ME" %>
        <% end %>
    <% end %>
<% else%>
<h1>You must be logged in to battle!</h1>
<% end %>
