<%# <div class="container"> %>
<h2 style="text-align: center;">Before the Battle</h2>

<h4><%= @battle.player1.username %>'s Stocks:</h4>
<table class="table table-hover">
  <thead>
  <div class="container">
    <tr>
      <th scope="col" style="column-width: 200px;">Name</th>
      <th scope="col" style="column-width: 200px;">Value</th>
      <th scope="col" style="column-width: 200px;">Quantity</th>
    </tr>
    </div>
  </thead>
  <tbody>
<% @battle.player1.stocks.uniq.map do |stock|%>
    <tr>
      <td><%= stock.name %></td>
      <td><%= number_to_currency(stock.initial_value) %></td>
      <td><%= @battle.player1.quantity_of_stocks[stock.name] %> shares</td>
    </tr>
<% end %>

  </tbody>
</table>



<h6><%= @battle.player1.username %>'s Total Worth: <%= number_to_currency(@battle.player1.worth_before_battle)%> </h6>
<br>

<h4><%= @battle.player2.username %>'s Stocks:</h4>
<table class="table table-hover">
  <thead>
  <div class="container">
    <tr>
      <th scope="col" style="column-width: 200px;">Name</th>
      <th scope="col" style="column-width: 200px;">Value</th>
      <th scope="col" style="column-width: 200px;">Quantity</th>
    </tr>
    </div>
  </thead>
  <tbody>
<% @battle.player2.stocks.uniq.map do |stock|%>
    <tr>
      <td><%= stock.name %></td>
      <td><%= number_to_currency(stock.initial_value) %></td>
      <td><%= @battle.player2.quantity_of_stocks[stock.name] %> shares</td>
    </tr>
<% end %>

  </tbody>
</table>
<h6><%= @battle.player2.username %>'s Total Worth: <%= number_to_currency(@battle.player2.worth_before_battle)%> </h5>


<h2 style="text-align: center;">After the Battle</h2>

<h4><%= @battle.player1.username %>'s Stocks:</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="column-width: 200px;">Name</th>
      <th scope="col" style="column-width: 200px;">Value</th>
      <th scope="col" style="column-width: 200px;">Quantity</th>
    </tr>
  </thead>
  <tbody>
<% @battle.player1.stocks.uniq.map do |stock|%>
    <tr>
      <td><%= stock.name %></td>
      <td><%= number_to_currency(stock.current_value) %></td>
      <td><%= @battle.player1.quantity_of_stocks[stock.name] %> shares</td>
    </tr>
<% end %>

  </tbody>
</table>
<h6><%= @battle.player1.username %>'s Total Worth: <%= number_to_currency(@battle.player1.total_worth)%> </h6>
<br>

<h4><%= @battle.player2.username %>'s Stocks:</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="column-width: 200px;">Name</th>
      <th scope="col" style="column-width: 200px;">Value</th>
      <th scope="col" style="column-width: 200px;">Quantity</th>
    </tr>
  </thead>
  <tbody>
<% @battle.player2.stocks.uniq.map do |stock|%>
    <tr>
      <td><%= stock.name %></td>
      <td><%=number_to_currency(stock.current_value) %></td>
      <td><%= @battle.player2.quantity_of_stocks[stock.name] %> shares</td>
    </tr>
<% end %>

  </tbody>
</table>
<h6><%= @battle.player2.username %>'s Total Worth: <%= number_to_currency(@battle.player2.total_worth)%> </h6>
<br> <br>
<%# </div> %>


