<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Stock Market</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
  <%= link_to "Home", root_path, class:"btn btn-outline-primary" %>
    <div style="padding-left: 10px;">
      <%= link_to "My Profile", users_path, :class => "btn btn-outline-primary" %>
    </div>
    <div style="padding-left: 10px;">
      <%= link_to "List of Stocks", stocks_path, :class => "btn btn-outline-primary" %>
    </div>
    <div style="padding-left: 10px;">
       <%= link_to "Other Investors", users_path, :class => "btn btn-outline-primary" %>
    </div>
    <div style="padding-left: 10px;">
      <%= link_to "Battles" , stocks_path, :class => "btn btn-outline-primary"%>
    </div>
  </form>
</nav>
    <%= yield %>
  </body>
</html>
